body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #1e293b, #334155);
}

/* LOGIN */
.login-form{
  width:300px;
  margin:120px auto;
  padding:25px;
  background:white;
  border-radius:12px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
  text-align:center;
}

.login-form input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:6px;
  border:1px solid #ccc;
}

.login-form button{
  width:100%;
  padding:10px;
  background:#4f46e5;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

/* APP */
.app{
  display:flex;
  height:100vh;
}

.sidebar{
  width:220px;
  background:#111827;
  color:white;
  padding:20px;
}

.sidebar li{
  list-style:none;
  padding:10px;
  cursor:pointer;
  border-radius:6px;
}

.sidebar li:hover{
  background:#374151;
}

.contenido{
  flex:1;
  padding:30px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
  padding:15px 25px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
  margin-bottom:20px;
}

.kpi{
  display:flex;
  gap:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.formulario{
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

.formulario input{
  width:98%;
  padding:10px;
  margin-bottom:10px;
}

.btn-guardar{
  background:#4f46e5;
  color:white;
  padding:10px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
  border-radius:12px;
  overflow:hidden;
}

thead{
  background:#1f2937;
  color:white;
}

th,td{
  padding:12px;
  text-align:center;
}

td.acciones{
  display:flex;
  justify-content:center;
  gap:10px;
}

.btn-entregar{
  background:#16a34a;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:6px;
}

.btn-borrar{
  background:#dc2626;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:6px;
}

.logout-btn{
  background:#dc2626;
  color:white;
  border:none;
  padding:8px 14px;
  border-radius:8px;
  cursor:pointer;
}

h3{
  color: white;
}

.nuevo-registro{
  color: black
}
